@font-face {
    font-family: "iconfont"; /* Project id 1546170 */
    src: url('iconfont.woff2?t=1631379742269') format('woff2'),
    url('iconfont.woff?t=1631379742269') format('woff'),
    url('iconfont.ttf?t=1631379742269') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-nian:before {
    content: "\e691";
}

.icon-yuebao:before {
    content: "\e68c";
}

.icon-zuozhe:before {
    content: "\e67b";
}

.icon-comment:before {
    content: "\e638";
}

.icon-ico_yueduliang:before {
    content: "\e62a";
}

.icon-shijian:before {
    content: "\e61d";
}

.icon-xihuan:before {
    content: "\e6c8";
}

