<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.system.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.aurora.system.domain.SysLog">
        <!--@mbg.generated-->
        <!--@Table aurora_blog.sys_log-->
        <id column="log_id" jdbcType="BIGINT" property="logId"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="log_type" jdbcType="INTEGER" property="logType"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="operator_type" jdbcType="INTEGER" property="operatorType"/>
        <result column="oper_name" jdbcType="VARCHAR" property="operName"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
        <result column="oper_url" jdbcType="VARCHAR" property="operUrl"/>
        <result column="oper_ip" jdbcType="VARCHAR" property="operIp"/>
        <result column="oper_location" jdbcType="VARCHAR" property="operLocation"/>
        <result column="oper_param" jdbcType="VARCHAR" property="operParam"/>
        <result column="json_result" jdbcType="VARCHAR" property="jsonResult"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="error_msg" jdbcType="VARCHAR" property="errorMsg"/>
        <result column="oper_time" jdbcType="TIMESTAMP" property="operTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        log_id, `value`, log_type, `method`, request_method, operator_type, oper_name, dept_name,
        oper_url, oper_ip, oper_location, oper_param, json_result, `status`, error_msg, oper_time
    </sql>
</mapper>
