<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.aurora.system.domain.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_name, nick_name, `password`, email, phone_number, avatar, `status`,
        sex, user_type, login_ip, login_time, create_time, update_time, remark
    </sql>

    <select id="getRolesByUserId" resultType="string">
        select role_code
        from sys_role
        where role_id in (select role_id from sys_user_role where user_id = #{userId});
    </select>
    <select id="getAuthsByUserId" resultType="string">
        select perms
        from sys_menu
        where menu_id in (select menu_id
        from sys_role_menu
        where role_id in (select role_id
        from sys_user_role
        where user_id = #{userId}));
    </select>

    <select id="selectAllocatedList" parameterType="SysUser" resultMap="BaseResultMap">
        select distinct u.user_id, u.user_name, u.nick_name, u.email, u.phone_number, u.status, u.create_time
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where r.role_id = #{roleId}
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phone_number like concat('%', #{phoneNumber}, '%')
        </if>
    </select>

    <select id="selectUnallocatedList" parameterType="SysUser" resultMap="BaseResultMap">
        select distinct u.user_id,u.user_name, u.nick_name, u.email, u.phone_number, u.status, u.create_time
        from sys_user u
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where (r.role_id != #{roleId} or r.role_id IS NULL)
        and u.user_id not in (select u.user_id from sys_user u inner join sys_user_role ur on u.user_id = ur.user_id and
        ur.role_id = #{roleId})
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phone_number like concat('%', #{phoneNumber}, '%')
        </if>
    </select>
</mapper>
