<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.auth.mapper.AuthUserMapper">
    <resultMap id="BaseResultMap" type="com.aurora.auth.domain.AuthUser">
        <!--@mbg.generated-->
        <!--@Table aurora_blog.sys_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_name, nick_name, email, phone_number, avatar, `password`, `status`,
        create_time, update_time, remark
    </sql>

    <select id="getRolesByUserId" resultType="string">
        select role_code from sys_role where role_id in (select role_id from sys_user_role where user_id = #{userId});
    </select>
    <select id="getAuthsByUserId" resultType="string">
        select perms from sys_menu where menu_id in (select menu_id from sys_role_menu where role_id in
        (select role_id from sys_user_role where user_id = #{userId}) );

    </select>
</mapper>
