<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.BlogNoticeMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.BlogNotice">
        <!--@mbg.generated-->
        <!--@Table blog_notice-->
        <id column="notice_id" jdbcType="INTEGER" property="noticeId"/>
        <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle"/>
        <result column="notice_type" jdbcType="BOOLEAN" property="noticeType"/>
        <result column="notice_content" jdbcType="VARCHAR" property="noticeContent"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        notice_id, notice_title, notice_type, notice_content, `status`, create_time, update_time,
        remark
    </sql>
</mapper>
