<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.BlogAboutMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.BlogAbout">
        <!--@mbg.generated-->
        <!--@Table blog_about-->
        <id column="about_id" jdbcType="INTEGER" property="aboutId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        about_id, content, create_time, update_time
    </sql>
</mapper>
