<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.BlogCommentMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.BlogComment">
        <!--@mbg.generated-->
        <!--@Table blog_comment-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type" jdbcType="BOOLEAN" property="type"/>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="dislike_num" jdbcType="INTEGER" property="dislikeNum"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="reply_id" jdbcType="VARCHAR" property="replyId"/>
        <result column="reply_name" jdbcType="VARCHAR" property="replyName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, owner_id, parent_id, `name`, avatar, like_num, dislike_num, content,
        reply_id, reply_name, create_time, update_time
    </sql>
</mapper>
