<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.common.blog.mapper.BlogArticleTagMapper">
    <resultMap id="BaseResultMap" type="com.aurora.common.blog.domain.BlogArticleTag">
        <!--@mbg.generated-->
        <!--@Table blog_article_tag-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag_id" jdbcType="INTEGER" property="tagId"/>
        <result column="article_id" jdbcType="INTEGER" property="articleId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, tag_id, article_id
    </sql>
</mapper>
