<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.Article">
        <!--@mbg.generated-->
        <!--@Table dbblog.article-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="content_format" jdbcType="LONGVARCHAR" property="contentFormat"/>
        <result column="read_num" jdbcType="INTEGER" property="readNum"/>
        <result column="comment_num" jdbcType="INTEGER" property="commentNum"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="cover_type" jdbcType="INTEGER" property="coverType"/>
        <result column="cover" jdbcType="LONGVARCHAR" property="cover"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="recommend" jdbcType="BOOLEAN" property="recommend"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="publish" jdbcType="TINYINT" property="publish"/>
        <result column="top" jdbcType="BOOLEAN" property="top"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, title, description, author, content, content_format, read_num, comment_num, like_num,
        cover_type, cover, create_time, update_time, recommend, category_id, publish, top
    </sql>
    <select id="listArticleVo" resultType="com.aurora.admin.domain.vo.ArticleVO">
        select
        <include refid="Base_Column_List"/>
        from article
        <where>
            <if test="title!=null and title !=''">
                and title like concat('%',#{title},'%')
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>
