<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.BlogArticleMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.BlogArticle">
        <!--@mbg.generated-->
        <!--@Table aurora_blog.blog_article-->
        <id column="article_id" jdbcType="INTEGER" property="articleId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="content_format" jdbcType="LONGVARCHAR" property="contentFormat"/>
        <result column="read_num" jdbcType="INTEGER" property="readNum"/>
        <result column="comment_num" jdbcType="INTEGER" property="commentNum"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="cover_type" jdbcType="INTEGER" property="coverType"/>
        <result column="cover" jdbcType="LONGVARCHAR" property="cover"/>
        <result column="is_recommend" jdbcType="BOOLEAN" property="isRecommend"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="publish" jdbcType="TINYINT" property="publish"/>
        <result column="is_top" jdbcType="BOOLEAN" property="isTop"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        article_id, title, description, author, content, content_format, read_num, comment_num,
        like_num, cover_type, cover, is_recommend, category_id, publish, is_top, create_time,
        update_time
    </sql>
</mapper>
