<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.admin.mapper.BookSenseMapper">
    <resultMap id="BaseResultMap" type="com.aurora.admin.domain.BookSense">
        <!--@mbg.generated-->
        <!--@Table dbblog.book_sense-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="book_id" jdbcType="INTEGER" property="bookId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, author, content, book_id, create_time, update_time
    </sql>
</mapper>
